{% extends "base.html" %}

{% block content %}
  <div class="container">
    <h1>Upload Receipt</h1>
    <form method="POST" action="/upload" enctype="multipart/form-data" class="form-container">
        <!-- Hidden file input -->
        <input type="file" id="file-input" name="file" onchange="handleFileSelect(event)" style="display: none;">
        <!-- Custom button to trigger the file input -->
        <label for="file-input" id="custom-button" class="btn btn-primary btn-lg">Upload Receipt</label>
        <!-- Upload button to the right -->
        <button class="btn btn-primary btn-lg" type="submit" id="next-button" disabled>Next</button>
    </form>
    <!-- Selected image will be displayed here -->
    <div id="selected-image-container"></div>

    <!-- Loading overlay -->
    <div id="loading-overlay">
      <div class="loading-spinner"></div>
      <div class="loading-text">we are working on making it faster, be patient :)</div>
    </div>
  </div>

  <script>
    function handleFileSelect(event) {
      var file = event.target.files[0];
      var reader = new FileReader();
      const nextButton = document.getElementById("next-button");

      reader.onload = function(event) {
          var img = document.createElement('img');
          img.src = event.target.result;
          img.setAttribute('class', 'preview-img');
          document.getElementById('selected-image-container').innerHTML = ''; // Clear previous content
          document.getElementById('selected-image-container').appendChild(img);
      }
      reader.readAsDataURL(file);
      nextButton.disabled = false;
    }

    document.getElementById('next-button').addEventListener('click', function() {
      // Show the loading overlay when the upload button is clicked
      document.getElementById('loading-overlay').style.display = 'block';
    });
  </script>
{% endblock %}
