{% extends "base.html" %}

{% block content %}
    <!-- Navigation -->
    <!-- Header -->
    <div class="container">
                <h1>Rezipt</h1>
                <p></p>
                <a href="#" class="btn btn-primary btn-lg" onclick="redirectToInput()">try it out!</a>
    </div>
    
    <!-- Footer
    <footer class="page-footer">
        <div class="small-print">
            <div class="container">
                <p>we do not store any of your information</p>
                <p>Copyright &copy; rezipt 2023</p>
            </div>
        </div>
        
    </footer>
    -->
    <script>
        function redirectToInput() {
            window.location.href = '/input';
        }
    </script>

{% endblock %}
