<!DOCTYPE html>
<html>
<head>
    <title>Receipt Table</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Quantity</th>
                <th>Name</th>
                <th>Total Price</th>
                <th>Person</th>
            </tr>
        </thead>
        <tbody>
            <form method="POST" action="/save">
                {% for item in item_data %}
                <tr>
                    <td>{{ item.Quantity }}</td>
                    <td>{{ item.Name }}</td>
                    <td>{{ item.TotalPrice }}</td>
                    <td><input type="text" name="person{{ loop.index }}" ></td>
                </tr>
                {% endfor %}
                <input type="submit" value="Submit">
                <tr>
                    <td></td>
                    <td>Subtotal</td>
                    <td>{{ misc_data.Subtotal }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Tax</td>
                    <td><input type="number" step="any" name="tax" value="{{ misc_data.Tax }}"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Tip</td>
                    <td><input type="number" step="any" name="tip" value="0"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Total</td>
                    <td><input type="number" step="any" name="total" value="{{ misc_data.Total }}"></td>
                </tr>
            </form>
        </tbody>          
    </table>

    <h2>Miscellaneous Data:</h2>
    <ul>
        {% for key, value in misc_data.items() %}
        <li>{{ key }}: {{ value }}</li>
        {% endfor %}
    </ul>
</body>
</html>
