{% extends "base.html" %}

{% block content %}
<div class="table" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh; ">
    <table>
        <tr>
            <th>Person</th>
            <th>Sub Total</th>
            <th>Tax</th>
            <th>Tip</th>
            <th>Total</th>
        </tr>
        {% for person, total_price in sums_by_person.items() %}
        <tr>
            <td>{{ person }}</td>
            <td>{{ "%.2f" % total_price }}</td>
            <td>{{ "%.2f" % tax_per_person[person] }}</td>
            <td>{{ "%.2f" % tip_per_person[person] }}</td>
            <td>{{ "%.2f" % total_per_person[person] }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td><strong>Total</strong></td>
            <td><strong>
                {% set total_sum = sums_by_person.values()|sum %}
                {{ "%.2f" % total_sum }}</strong></td>
            <td><strong>
                {% set tax_sum = tax_per_person.values()|sum %}
                {{ "%.2f" % tax_sum }}</strong></td>
            <td><strong>
                {% set tip_sum = tip_per_person.values()|sum %}
                {{ "%.2f" % tip_sum }}</strong></td>
            <td><strong>
                {% set final_total_sum = total_per_person.values()|sum %}
                {{ "%.2f" % final_total_sum }}</strong></td>
        </tr>
    </table>

    <div class="button-container" style="margin-top: 20px;">
        <button onclick="exportTableToCSV('table_data')">Export to CSV</button>
        <button onclick="showFeatureNotAvailable()">Venmo Request your friends</button>
    </div>
</div>
    <script>
        function exportTableToCSV(filename) {
            var csv = [];
            var rows = document.querySelectorAll("table tr");

            for (var i = 0; i < rows.length; i++) {
                var row = [], cols = rows[i].querySelectorAll("td, th");

                for (var j = 0; j < cols.length; j++) {
                    row.push(cols[j].innerText);
                }

                csv.push(row.join(","));
            }

            // Download CSV file
            var csvContent = "data:text/csv;charset=utf-8," + csv.join("\n");
            var link = document.createElement("a");
            link.setAttribute("href", encodeURI(csvContent));
            link.setAttribute("download", filename + ".csv");
            link.click();
        }
        
        function showFeatureNotAvailable() {
            alert("Feature not yet available");
        }
    </script>
{% endblock %}

